.contact_wrapper{
    height: 300px;
    background-color: #000051 ;
    color: whitesmoke;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    & .contact_con{
        max-width: 1170px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;

        & .contact_info{
            width: 420px;
            text-align: center;
            
            & h3 {
                font-size: 34px;
                font-weight: bolder;
                margin-bottom: 20px;
                margin-top: -40px;
                color: rgb(221, 250, 0)
            }

            & .contact_icon1{ 
                margin-bottom: -5px;
                margin-right: 10px;
                color: rgb(13, 255, 0);
                border-radius: 40%;
            }

            & .contact_icon2{ 
                margin-bottom: -5px;
                margin-left: 10px;
                color: rgb(255, 0, 0);
                border-radius: 40%;
            } 

            & .contact_address{
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: center;
                color: blueviolet;
            }

            & .contact_phone, .contact_mail{
                font-size: 20px;
                font-weight: bold;
            }

            & .phone_icon, .mail_icon{

                margin-right: 10px;
                margin-bottom: -2px;
                color: rgb(254, 0, 254);
            }
        }

    }
}

@media screen and (max-width:1200px) {
    .contact_wrapper{
        height: auto;

        & .contact_con{
            flex-direction: column;

            & .contact_info{
                width: 100%;
                padding: 20px;

                & .contact_heading {
                    display: flex;
                    align-items: center; /* Vertically center the items */
                    justify-content: center; /* Optionally center the content horizontally */

                    & .contact_icon1, .contact_icon2 {
                        flex-shrink: 0; /* Prevent icons from shrinking and causing wrapping */
                    }
                }

            }
        }
    }
    
}