.number_con{
    margin-top: 80px;
    height: 650px;
    background-color: grey;
    /* background-color:  #333333  ; */
    display: flex;
    flex-direction: column; /*จัดเรียงในแนวนอน*/
    align-items: center; /*จัดเรียงในแนวตั้ง*/
    text-align: center;

    & .number_header {
        text-align: center; /* Centers the title and university information */

        & .logo {
            width: 280px; /* Adjust the width as needed */
            height: 80px;
            margin-top: 30px; /* Add spacing between title and logo */
            margin-bottom: 40px;
            display: block;  /* Makes the image occupy its own line */
            margin-left: auto;
            margin-right: auto; /* Centers the image horizontally */
        }

        & .number_title{
            font-size: 53px;
            color: #000000;
            margin-bottom: 20px;
            margin-top: 40px;
        }

        & .number_uni{
            font-size: 30px;
            color: #FFFFFF;
            font-weight: bold;
        }

        & .number_major{
            font-size: 20px;
            margin-top: 15px;
            text-align: center;
        }

        & .number_honors{
            font-size: 20px;
            margin-top: 15px;
            color: #FFFFFF;
            font-weight: bold;
        }
        & .number_date{
            font-size: 20px;
            margin-top: 10px;
            font-style: italic;
        }

    }

    & .number_items_wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 20px;
    }

    & .number_items{
        color:#FFFFFF;
        margin: 20px 100px;
        

        & h3{
            font-size: 48px;
            font-weight: bold;
        }

        & p{
            font-size: 24px;
            font-weight: bold;
        }
    }

    & .download_button_wrapper {
        align-items: center;    /* Position absolutely within parent */
        bottom: 20px;       /* Distance from the bottom */
        justify-items: center;
        left: 50%;
        transform: translateX(3%);
        margin-top: 20px;
        margin-bottom: 20px;
 
    }
    
    & .download_button {
        width: 200px;
        background-color: #ffbd07; /* Example button colors */
        color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight:bolder ;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 50px;
        justify-content: center;

        &:hover{
            box-shadow: 0 0 100px 0px rgba(0, 0, 0, 0.3);
            background-color:rgb(255, 0, 255);
        }
    }
}

@media screen and (max-width:700px) {
    .number_con{
        height: auto;
        flex-direction: column;
        padding: 50px 0;

        & .number_items_wrapper{
            margin: 30px 0;
            flex-direction: column;
            flex-wrap: wrap; /* Allow items to wrap to the next row */
            justify-content: center; /* Center items horizontally */
        }
    }
    
}