.experience_con {
    height: 600px;
    background-color: white;
    text-align: center;
    overflow: hidden;

    & .experience_title{
        margin-top: 60px;
        font-size: 32px;
        font-weight: bold;
    }

    & .experience_list {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        & .experience_items {
            width: 300px;
            margin: 0 90px;
            margin-top: 5px;

            & img {
                width: 200px;
                height: 200px;
                margin-left: auto;
                margin-right: auto;
            }

            & h4 {
                color:rgb(28, 5, 110);
                font-size: 24px;
                font-weight: bold;
                margin: 25px 0;
            }

            & h5{
                color:black;
                font-size: 20px;
                
            }

            & h6{
                color: grey;
                font-size: 20px;
                font-style: italic;
                font-weight: bold;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .experience_con{
        height: auto;

        & .experience_list{
            flex-direction: column;
            margin: 50px 0;

            & .experience_items{
                width: 100%;
                padding: 20px;
                margin: 20px 0;
            }
        }
    }
    
}